@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e201e;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-track {
  background-color: #d1d5db;
}

::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 30px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-barlow-regular);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
